.selected__bank {
    margin: 10px 30px;
    border: 1px solid black;
    max-width: 200px;
    background: gainsboro;
    cursor: pointer;
}
.selected__show {
    border: 1px solid black;
    background: gainsboro;
    margin: 0 30px;
}
.selected__hide {
    display: none;
}